:root{
    --main-bg-color: #0e0e0eaf;
    --btn-bg-color: #b5b0b083;
    --btn-hover-color: #6d686883;
    --btn-size: 44px;
    --icon-size: 80px; 
    --main-text-color: #fff;
    --secondary-text-color: red; 
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh; 
    margin: 0; 
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape'); /*random landscape-img*/
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
}

.weather-box{
    background-color: var(--main-bg-color);
    padding:2em;
    border-radius: 30px;
    min-width: 600px;
    max-width: 720px;
    margin: 1em;  
    color: var(--main-text-color); 
}

.icon{
    display:none; 
    width: var(--icon-size);
    height: var(--icon-size);
}

#titel{
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    font-size: 2em; 
    margin-top:0px; 
    margin-bottom: 50px;    
}

.search{
    display:flex; 
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    margin-bottom: 0px;
    padding:20px;
    min-width: 200px;
    max-width:520px; 
}

#search-btn{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: var(--btn-size);
    width: var(--btn-size);
    background: var(--btn-bg-color);
    color: var(--main-text-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#search-btn:hover{
    background: var(--btn-hover-color);
}

.fahrenheit-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#fahrenheit-btn{
    margin-right: 12px; 
    margin-left:2px; 
    border: none; 
    height: var(--btn-size);
    width: var(--btn-size);
    background: transparent;
    color: var(--main-text-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.toggle-icon{
    height: var(--btn-size);
    width: var(--btn-size);
}

input#search-bar {
    border: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: var(--btn-bg-color);
    color: rgb(255, 255, 255);
    font-size: 100%;
    width: 75%;
  }
  input#search-bar::placeholder{
    color:var(--main-text-color); 
  }
  input#search-bar:hover{
    background-color:var(--btn-hover-color); 
  }

  h1 {
    color:var(--main-text-color);
    font-size: 3em;
    margin-bottom: 0; 
  }
  h2 {
    color:var(--main-text-color);
    font-size: 2em; 
    margin-top: 4px; 
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }

  .error{
    display: block;
    color:var(--main-text-color);
    text-align:center;
    margin:0 auto; 
  }

  .weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.box1, .box2, .box3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 15px; 
}
.box1, .box2{
    border-right: 2px solid transparent;
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
}
.h3-1, .high-low{
    margin-bottom:0px;
    margin-top: 4px; 
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--btn-bg-color);
}

.wikipedia-content, .wikipedia-header {
    grid-column: 1 / -1;
    color: var(--main-text-color);
    padding:0px 20px ; 
    display: none;
    line-height: 1.2em;
}
.wikipedia-header {
    grid-column: 1 / -1;
    color: var(--btn-bg-color);
    padding:0 20px; 
    display: none;
    margin-top:40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom:0; 
}

@media only screen and (max-width: 820px) {
    body{
        background-size: 100% 120%; 
        height: auto; 
        padding: 40px 0 40px 0;
    }

    .weather-box {
      min-width: auto;
      max-width: 80%;
      min-height: 300px;
      padding: 1em;
      border-radius: 5px;
    }

    #fahrenheit-btn {
      height: 43px;
      width: 43px;
    }

    #titel{
        padding: 10px; 
        font-size: 1.6em;
        line-height: 1.2em;
        margin-bottom: 20px;
        width: 80%;
        margin: 0 auto; 
    }

    .search{
        border-top: 1px solid var(--btn-bg-color);
        width: 90%; 
    }

    h1 {
      font-size: 2em;
      text-align: center;
    }

    .h1{
        font-size: 3em;
        margin-top:4px;
    }
    .high-low{
        margin-bottom: 12px;
    }
    h2 {
      font-size: 1.5em;
    }
  
    .weather {
      grid-template-columns: repeat(1, 1fr); 
      
    }
    .box1,
    .box2{
      margin-top: 10px;
      border-bottom: 1px solid transparent;
      border-right: none !important; /* Writing over the js-initialization*/
      width: 60%; 
      margin: 0 auto; 
    }
    .box2{
        margin-bottom: 10px;
    }
    .box3 {
        width: 60%; 
        margin: 20px auto;  
      }
  }
  